body, html {
  font-family: 'Nunito', sans-serif;
  background-color: #f4f4f4;
  padding: 0;
  margin: 0;
}

.container {
  width: 95%; 
  margin: 35px auto;
  text-align: center;
}

.upload-section{
  display: flex;
  margin-top: 9%;
  justify-content: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #06A3DA;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

.custom-file-upload:hover{
  background-color: #18b0e8;
}

#certificadoInput {
  display: none;
}

.thumbnail-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail-container img {
  width: 100px;
  height: auto;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail-container img:hover {
  transform: scale(1.1);
}

.analyze-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #00a11b;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}

.analyze-btn:hover {
  background-color: #08b725;
}

#pdf-viewer {
  width: 100%;
  height: 95vh; /* Ocupa 80% da altura da viewport */
  overflow: auto;
  border: 1px solid #ddd;
  margin-top: 0px;
}

#pdf-canvas {
  width: 100%;
}

#pdf-modal {
  z-index: 2; /* Valor maior para o modal do PDF */
}

#form-container{
  width: 100%;
  max-height: 95vh; /* Altura máxima de 80% da viewport */
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-top: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;  /* Começar a modal no topo da página */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 70px auto;  /* Margem superior para acomodar a navbar */
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-height: calc(100% - 60px); /* Altura máxima com espaço para margens */
  position: relative;
}


.modal-header {  
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 0px; 
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; 
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.pdf-navigation {
  text-align: left; 
  display: flex; /* Ativando o Flexbox para organizar os elementos na mesma linha */
  align-items: center; /* Alinhando os itens verticalmente */
}

.nav-btn {
  background-color: #43a3dc;
  color: white;
  padding: 12px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: Arial, sans-serif; /* Supondo que o botão use Arial */
  font-size: 14px;             /* Supondo que o botão use tamanho 16px */
}

.nav-btn:hover{
  background-color: #3d94c6;
}

.responsavel-input {
  display: flex;
  align-items: center; /* Alinhando o label e o input verticalmente */
  margin-left: 5px; /* Espaçamento à esquerda do grupo */
  margin-right: 5px; /* Espaçamento à right do grupo */
  background-color: #43a3dc; /* Adiciona um fundo leve */
  border-radius: 5px; /* Arredonda as bordas */
}

.responsavel-label {
  display: flex;
  margin-left: 5px;
  align-items: center;
  font-weight:normal;
  margin-right: 5px; /* Espaçamento entre o label e o input */
  margin-left: 5px; /* Espaçamento entre o label e o input */
  color: #ffffff;
  font-size: 14px;
}

#responsavelAnaliseInput {
    border: 1px solid #ccc; /* Adiciona uma borda ao input */
    border-radius: 3px;
    font-size: 16px;
    color: #333; /* Define a cor do texto */
    width: 100%; /* Ocupa a largura total do container */
}

#file-count-pdf,
#file-count-form {
  color: #737b79; /* Cor cinza */
  margin: 0 5px;
  font-size: 14px;
}

@media (max-width: 991.98px) {
  .upload-section{
    display: flex;
    margin-top: 15%;
    justify-content: center;
  }
}


@media (max-width: 576px) {
  .upload-section{
    display: flex;
    margin-top: 15%;
    justify-content: center;
  }
}

@media (min-width: 767.98px) {
  .upload-section{
    display: flex;
    margin-top: 9%;
    justify-content: center;
  }
}

