:root {
    --primary-color: #343d4b;
    --secondary-color: #494f4c;
    --background-color: #f8f9fa;
    --text-color: #343d4b;
    --border-color: #dee2e6;
    --input-background-color: #ffffff;
    --input-border-color: #ced4da;
  }

  *{
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    gap: 0px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
  }
  
  .title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
  }

  .logo-container {
    text-align: center; /* Centraliza a logo */
    margin-bottom: 20px; /* Espaçamento abaixo da logo */
  }
  
  .logo-container img {
    width: 150px; /* Ajuste a largura da logo conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  h2 {
    color: var(--primary-color);
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #4dca6a;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #e1e2e1;
  }
  
  .cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .btn-upload {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid var(--border-color);
    padding: 5px;
    text-align: left;
    word-wrap: break-word;
  }
  
  th {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: bold;
  }
  
  .coluna-vvc {
    width: 90px;
  }
  
  .coluna-media {
    width: 150px;
  }
  
  .coluna-incerteza {
    width: 150px;
  }
  
  .coluna-tolerancia {
    width: 80px;
  }
  
  .coluna-muk {
    width: 150px;
  }
  
  .form-group-aprovacao{
    display: flex;
    gap: 5px;
    align-items: center;
  }

  input[type="text"],
  input[type="date"],
  input[type="number"],
  textarea,
  select {
    width: 100%;
    padding: 7px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0;
  }

  textarea {
    height: 80px;
    text-align: left;
  }
  
  